<head>
	<title>{{metadata.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/awesomplete.css" />
	<link rel="stylesheet" href="/css/main.css">
</head>