<html>
  {{> pageHead}}
  <body class="l-{{template}}">
  	<p class="unsupported-message">
		You may be using an unsupported browser. Please try Chrome for now.
  	</p>
  	{{{body}}}

  </body>
</html>