{{!< default}}
<div class="container">

{{products.offset}}
{{products.limit}}
{{products.total}}

<input type="text" class="product-search">

<ul class="product-list">
	{{#each products.data}}
		{{> productItemList}}
	{{/each}}
</ul>

</div>