{{!< default}}
<div class="container">
	<h1>NAP TECH TEST</h1>
	<p>Create a categloue expirence using two sample product APIs.</p>
	<h2>Product lists</h2>
	<code>http://127.0.0.1:3000/api/products</code>
	<h2>Product details</h2>
	<code>http://127.0.0.1:3000/api/product/$id</code>
	<h2>Preview of existing expiences<h2>
	<table style="width:100%">
		<tr>
			<td>Desktop</td>
			<td>Mobile</td>
			
		</tr>
		<tr>
			<td><img src="/images/desktop.jpg" /></td>
			<td><img src="/images/mobile.jpg" /></td>
		</tr>
	</table>
</div>