{{!< default}}
<div class="container">

{{!-- 
{{products.offset}}
{{products.limit}}
{{products.total}}
 --}}

<header class="main-header">
	<input type="text" class="product-search" placeholder="...{{placeholderText}}">
</header>


<ul class="product-list">
	{{#each products.data}}
		{{> productItemList}}
	{{/each}}
</ul>

</div>