body {
	padding: 10px;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

.main-header {
	display: flex;
	justify-content: flex-end;
}

.container {
	outline: 1px solid black;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.product-list-item-details {
	text-decoration: none;
	outline: 1px solid pink;
}

.product-list-item {
	outline: 1px solid green;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 0 220px;
	padding: 10px;
}

.product-search {
	width: 300px;
	border: 1px solid grey;
	display: inline-block;
	padding: 10px;
	font-size: 18px;
}

.product-list-item img {
	width: 180px;
	height: 270px;
}

.product-list-item-live-search {
	background: lightcyan;
}

.product-list-item h3 {

}

.product-list-item h4 {

}

.product-list-item h5 {

}