/*
 *  STYLE 4
 */

.product-list-designer-filter::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.product-list-designer-filter::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.product-list-designer-filter::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


body {
	padding: 10px;
	font-family: Verdana, Arial;
}

.container {
	display: flex;
}

aside {
	position: fixed;
	width: 30vw;
	max-width: 220px;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

.main-header {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-left: 230px;
}

.product-list-item-details {
	text-decoration: none;
	color: black;
	margin-top: 12px;
}

.product-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 0 220px;
	padding: 10px;
	margin-bottom: 40px;
}

.product-list-item:hover {
	background: lightyellow;
	border-radius: 10px;
}

.product-search {
	width: 300px;
	border: 1px solid grey;
	display: inline-block;
	padding: 10px;
	font-size: 18px;
}

.product-list-item img {
	width: 180px;
	height: 270px;
}

.product-list-item-live-search {
	background: lightcyan;
}

.product-list-item h3 {
	font-size: 13px;
}

.product-list-item h4 {
	font-size: 13px;
	text-transform: uppercase;
}

.product-list-item h5 {

}

.product-list-designer-filter {
	height: 70vh;
	overflow-y: scroll;
	background: white;
}

.product-list-designer-filter li {
}

.product-list-designer-filter label {
	padding: 7px 14px;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
}

.product-list-designer-filter label:hover {
	background: rgba(222, 210, 210, 0.27);
}

.filter-message {
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	height: 50px;
	width: 100%;
}

.product-list-sort {
	text-align: center;
	margin: 20px 0;
}

aside h5 {
	text-transform: uppercase;
	text-align: center;
}

.product-list-sort li {

}

.product-list-sort a.product-list-sort-active {
	opacity: 0.4;
}

.product-list-sort a {
	text-decoration: none;
	background: black;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	display: inline-block;
	margin: 10px;
}

.product-list-sort a:hover {
	opacity: 0.7;
}

@media screen and (max-width: 750px) {
	.container {
		flex-direction: column;
	}

	.product-list-designer-filter {
		height: 30vh;
		text-align: center;
		margin-bottom: 40px;
	}
	aside {
		position: initial;
		width: 100%;
		max-width: none;
	}
	.product-list {
		margin-left: 0;
	}

	.product-list-designer-filter label {
		min-width: 180px;
	}
}