.product-list-designer-filter::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

.product-list-designer-filter::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.product-list-designer-filter::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-left: 230px;

	@media screen and (max-width: 750px) {
		margin-left: 0;
	}
}

.product-list-item-details {
	text-decoration: none;
	color: black;
	margin-top: 12px;
}

.product-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 0 220px;
	padding: 10px;
	margin-bottom: 40px;
}

.product-list-item:hover {
	background: lightyellow;
	border-radius: 10px;
}



.product-list-item img {
	width: 180px;
	height: 270px;
}

.product-list-item-live-search {
	background: lightcyan;
}

.product-list-item h3 {
	font-size: 13px;
	font-weight: bold;
}

.product-list-item h4 {
	font-size: 13px;
	text-transform: uppercase;
}

.product-list-designer-filter {
	height: 70vh;
	overflow-y: scroll;
	background: white;

	@media screen and (max-width: 750px) {
		height: 30vh;
		text-align: center;
		width: 70vw;
		margin: 0 auto 40px auto;
	}
}

.product-list-designer-filter label {
	padding: 7px 14px;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;

	@media screen and (max-width: 750px) {
		min-width: 180px;
	}
}

.product-list-designer-filter label:hover {
	background: rgba(222, 210, 210, 0.27);
}

.product-list-sort {
	text-align: center;
	margin: 20px 0;
}

.product-list-sort a.product-list-sort-active {
	opacity: 0.4;
}

.product-list-sort a {
	text-decoration: none;
	background: black;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	display: inline-block;
	margin: 10px;
}

.product-list-sort a:hover {
	opacity: 0.7;
}